TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://${HOST}:${PORT}
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development

JWT_SECRET=your-super-secret-key
JWT_EXPIRES_IN=1d

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=baby_shower
DB_SYNCHRONIZE=true
DB_LOGGING=false