TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://${HOST}:${PORT}
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development

MAIL_MAILER=smtp
MAIL_FROM_ADDRESS=no-reply@baby-shower.local
MAIL_FROM_NAME="Baby Shower"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
RESEND_API_KEY=

JWT_SECRET=your-super-secret-key
JWT_EXPIRES_IN=1d

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=baby_shower
DB_SYNCHRONIZE=false
DB_LOGGING=false

SEED_ADMIN_NAME=Admin
SEED_ADMIN_EMAIL=admin@baby-shower.local
SEED_ADMIN_PASSWORD=12345678
SEED_EVENT_IS_ARCHIVED=false